.failed {
    color: rgb(255, 0, 0);
    font-size: 13px;
    font-weight: bold;
    margin-top: 12px;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: center; 
  }

.form-container.add {
  width: 100%;
  max-width: 600px; 
  text-align: center;
}

.form-container.add h3 {
  text-align: center;
}
button:focus {
  outline: none;
}
.lista {
  display: flex;
  flex-direction: column;
}
mat-form-field {
  width: 100%;
  max-width: 600px;
}

.success {
    color: rgb(4, 255, 0);
    font-size: 13px;
    font-weight: bold;
    margin-top: 12px;
}

.remember {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    font-size: 14px;
}


.remember input {
    margin-right: 8px;
}

.remember label {
    margin: 0;
    text-align: center;
    display: inline-block;
    white-space: nowrap;

}

mat-form-field {
    width: 100%;
    max-width: 600px;
}