<app-navigation>


    <div class="container">
        <div class="form-container add">
            <h3>Hi {{firstName}}, do you want to change your password?</h3>
            <form [formGroup]="changePasswordForm">

                <mat-form-field appearance="fill">
                    <mat-label>Old Password</mat-label>
                    <input matInput #oldPassword name="oldPassword" required formControlName="oldPassword"
                        type="password">
                    <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">
                        Old Password is required
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('min')">
                        Old Password must be at least 8 characters
                    </mat-error>
                </mat-form-field>

                <div class="remember">
                    <input (click)="togglePasswordVisibility(oldPassword)" type="checkbox" id="show-password">
                    <label for="remember-me">Show password</label>
                </div>


                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput #newPassword name="newPassword" required formControlName="newPassword"
                        type="password">
                    <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
                        New Password is required
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('min')">
                        New Password must be at least 8 characters
                    </mat-error>
                </mat-form-field>
                <div class="remember">
                    <input (click)="togglePasswordVisibility(newPassword)" type="checkbox" id="show-password">
                    <label for="remember-me">Show password</label>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput #confirmPassword name="confirmPassword" required formControlName="confirmPassword"
                        type="password">
                    <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
                        Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('min')">
                        Confirm Password must be at least 8 characters
                    </mat-error>

                </mat-form-field>


                <div class="remember">
                    <input (click)="togglePasswordVisibility(confirmPassword)" type="checkbox" id="show-password">
                    <label for="remember-me">Show password</label>
                </div>

                <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
                <div *ngIf="changingPasswordFailed" class="failed" role="alert">
                    {{errorMessage}}
                </div>
                <div *ngIf="changingPasswordSuccess" class="success" role="alert">
                    {{"Password changed successfully!"}}
                </div>
            </form>
        </div>

    </div>

</app-navigation>