<app-navigation>


    <div class="container">
        <div class="lista">
            <div class="form-container add">
                <h3>Hi {{firstName}}, do you want to change your password?</h3>
                <form [formGroup]="changePasswordForm">

                    <mat-form-field appearance="fill">
                        <mat-label>Old Password</mat-label>
                        <input matInput #oldPassword name="oldPassword" required formControlName="oldPassword"
                            type="password">
                    </mat-form-field>
                    <div class="remember">
                        <input (click)="togglePasswordVisibility(oldPassword)" type="checkbox" id="show-password">
                        <label for="remember-me">Show password</label>
                    </div>

                    <div
                        *ngIf="changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.invalid">
                        <div *ngFor="let error of errorMessages.oldPassword">
                            <small class="failed" role="alert"
                                *ngIf="changePasswordForm.get('oldPassword')?.hasError(error.type)">
                                {{ error.message }}
                            </small>
                        </div>
                    </div>


                    <mat-form-field appearance="fill">
                        <mat-label>New Password</mat-label>
                        <input matInput #newPassword name="newPassword" required formControlName="newPassword"
                            type="password">
                    </mat-form-field>

                    <div class="remember">
                        <input (click)="togglePasswordVisibility(newPassword)" type="checkbox" id="show-password">
                        <label for="remember-me">Show password</label>
                    </div>

                    <div
                        *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid">
                        <div *ngFor="let error of errorMessages.newPassword">
                            <small class="failed" role="alert"
                                *ngIf="changePasswordForm.get('newPassword')?.hasError(error.type)">
                                {{ error.message }}
                            </small>
                        </div>
                    </div>

                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput #confirmPassword name="confirmPassword" required
                            formControlName="confirmPassword" type="password">

                    </mat-form-field>
                    <div class="remember">
                        <input (click)="togglePasswordVisibility(confirmPassword)" type="checkbox" id="show-password">
                        <label for="remember-me">Show password</label>
                    </div>


                    <div
                        *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.invalid">
                        <div *ngFor="let error of errorMessages.confirmPassword">
                            <small class="failed" role="alert"
                                *ngIf="changePasswordForm.get('confirmPassword')?.hasError(error.type)">
                                {{ error.message }}
                            </small>
                        </div>
                    </div>

                    <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
                    <div *ngIf="changingPasswordFailed" class="failed" role="alert">
                        {{errorMessage}}
                    </div>
                    <div *ngIf="changingPasswordSuccess" class="success" role="alert">
                        {{"Password changed successfully!"}}
                    </div>
                </form>
            </div>

        </div>
    </div>

</app-navigation>