<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <!-- Display the time before the expansion icon -->
                Ticket ID: {{ ticket.id }}
            </mat-panel-title>
            <div class="mat-expansion-panel-header-description">
                <!-- Display the ticket ID -->
                {{ ticket.flight.destination.location.city }}
            </div>
            <div class="mat-expansion-panel-header-description">
                <!-- Display the ticket ID -->
                {{ ticket.totalPrice }}€
            </div>
        </mat-expansion-panel-header>
        <br>
        <div class="tickets">
            <div class="details">
                <h4> Ticket Details: </h4>
                <p>Owner: {{ticket.owner.firstName}} {{ticket.owner.lastName}}</p>
                <p>Passenger: {{ticket.passenger.firstName}} {{ticket.passenger.lastName}}</p>
                <p>Flight: {{ticket.flight.destination.location.country}} - {{ticket.flight.origin.location.city}}</p>
                <p>Departure: {{ticket.flight.departureTime | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p>Arrival: {{ticket.flight.arrivalTime | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p>Seat Number: {{ticket.seatNumber}}</p>
                <p>Gate: {{ticket.flight.gate}}</p>
                <p>Class: {{ticket.ticketClass}}</p>
                <p>Package: {{ticket._package.name}} ({{ticket._package.price}}€)</p>

                <p *ngIf="!ticket.isReturn" ngClass='no-text'>
                    {{ ticket.isReturn ? 'Return Flight' : 'Single Way Flight' }}
                </p>

            </div>
            <div class="details" *ngIf="ticket.isReturn">
                <h4> Return Ticket Details: </h4>
                <p>Owner: {{ticket.owner.firstName}} {{ticket.owner.lastName}}</p>
                <p>Passenger: {{ticket.passenger.firstName}} {{ticket.passenger.lastName}}</p>
                <p>Flight: {{ticket.returnFlight?.destination?.location?.country}} - {{ticket.returnFlight?.origin?.location?.city}}</p>
                <p>Departure: {{ticket.returnFlight?.departureTime | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p>Arrival: {{ticket.returnFlight?.arrivalTime | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p>Seat Number: {{ticket.seatNumber}}</p>
                <p>Gate: {{ticket.returnFlight?.gate}}</p>
                <p>Class: {{ticket.ticketClass}}</p>
                <p>Package: {{ticket._package.name}} ({{ticket._package.price}}€)</p>

            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>