<mat-accordion>
    <mat-expansion-panel [ngClass]="{'highlight': isTicketHighlighted(ticket.id)}">
        <mat-expansion-panel-header >
            <mat-panel-title>
                <mat-icon>flight</mat-icon>
                <!-- Display the time before the expansion icon -->
                Ticket ID: {{ ticket.id }}
            </mat-panel-title>
            <div class="mat-expansion-panel-header-description">
                <!-- Display the ticket ID -->
                {{ ticket.flight.destination.location.city }}
            </div>
            <div class="mat-expansion-panel-header-description">
                <!-- Display the ticket ID -->
                {{ ticket.totalPrice | currency}}
            </div>
            
            <button mat-icon-button class="mat-expansion-panel-header-button" (click)="onCancelTicket(ticket.id, $event)">
                <mat-icon class="default-icon" color="primary">delete</mat-icon>
                <mat-icon class="hover-icon" color="primary">delete_forever</mat-icon>
            </button>

        </mat-expansion-panel-header>
        <br>
        <div class="tickets">
            <div class="details">
                <h4> Ticket Details: </h4>
                <p>Owner: {{ticket.owner.firstName}} {{ticket.owner.lastName}}</p>
                <p>Passenger: {{ticket.passenger.firstName}} {{ticket.passenger.lastName}}</p>
                <p>Flight: {{ticket.flight.destination.location.country}} - {{ticket.flight.origin.location.city}}</p>
                <p>Departure: {{ticket.flight.departureTime | date: 'medium'}}</p>
                <p>Arrival: {{ticket.flight.arrivalTime | date: 'medium'}}</p>
                <p>Seat Number: {{ticket.seatNumber}}</p>
                <p>Gate: {{ticket.flight.gate}}</p>
                <p>Class: {{ticket.ticketClass}}</p>
                <p>Package: {{ticket._package.name}} ({{ticket._package.price | currency}})</p>

                <p *ngIf="!ticket._return" ngClass='no-text'>
                    {{ ticket._return ? 'Return Flight' : 'Single Way Flight' }}
                </p>

            </div>
            <div class="details" *ngIf="ticket._return">
                <h4> Return Ticket Details: </h4>
                <p>Owner: {{ticket.owner.firstName}} {{ticket.owner.lastName}}</p>
                <p>Passenger: {{ticket.passenger.firstName}} {{ticket.passenger.lastName}}</p>
                <p>Flight: {{ticket.returnFlight?.destination?.location?.country}} -
                    {{ticket.returnFlight?.origin?.location?.city}}</p>
                <p>Departure: {{ticket.returnFlight?.departureTime | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p>Arrival: {{ticket.returnFlight?.arrivalTime | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p>Seat Number: {{ticket.seatNumber}}</p>
                <p>Gate: {{ticket.returnFlight?.gate}}</p>
                <p>Class: {{ticket.ticketClass}}</p>
                <p>Package: {{ticket._package.name}} ({{ticket._package.price | currency}})</p>

            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>