<app-navigation>

  <div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Choose what to see</mat-label>
      <mat-select [(value)]="selectedItem" (selectionChange)="resetForms();">
        <mat-option value="flights">Flights</mat-option>
        <mat-option value="locations">Locations</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8" *ngIf="selectedItem">
    <table mat-table [dataSource]="getDataSource()" class="mat-table" matSort>

      <ng-container *ngFor="let column of getDisplayedColumns()" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ getColumnLabel(column) }} </th>
        <td mat-cell *matCellDef="let element">
          {{ getColumnValue(element, column) }}
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="container" *ngIf="selectedItem">
    <div class="form-container add">
      <h3>Add {{ getItemName() }}</h3>
      <form (ngSubmit)="getAction()" [formGroup]="getForm()">

        <div *ngIf="selectedItem === 'flights'">
          <div class="lista">
            <mat-form-field appearance="fill">
              <mat-label>Plane</mat-label>
              <mat-select formControlName="plane" required>
                <mat-option *ngFor="let plane of planes" [value]="plane">
                  {{ plane.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="getForm().get('plane')?.hasError('required')">
                Plane is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Origin</mat-label>
              <mat-select formControlName="origin" required>
                <mat-option *ngFor="let origin of airports" [value]="origin">
                  {{ origin.name }} - {{origin.location.city}},  {{origin.location.country}} ({{ origin.location.shortName }})
                </mat-option>
              </mat-select>
              <mat-error *ngIf="getForm().get('origin')?.hasError('required')">
                Origin is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Destination</mat-label>
              <mat-select formControlName="destination" required>
                <mat-option *ngFor="let destination of airports" [value]="destination">
                  {{ destination.name }} - {{destination.location.city}},  {{destination.location.country}} ({{ destination.location.shortName }})
                </mat-option>
              </mat-select>
              <mat-error *ngIf="getForm().get('destination')?.hasError('required')">
                Destination is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Gate</mat-label>
              <input matInput name="gate" required formControlName="gate">
              <mat-error *ngIf="getForm().get('gate')?.hasError('required')">
                Gate is required
              </mat-error>
              <mat-error *ngIf="getForm().get('gate')?.hasError('pattern')">
                Gate is invalid
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Price</mat-label>
              <input matInput name="price" type="number" required formControlName="price">
              <mat-error *ngIf="getForm().get('price')?.hasError('required')">
                Price is required
              </mat-error>
              <mat-error *ngIf="getForm().get('price')?.hasError('min')">
                Price must not be lower than 0
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Departure</mat-label>
              <input matInput name="departureTime" type="datetime-local" required formControlName="departureTime">
              <mat-error *ngIf="getForm().get('departureTime')?.hasError('required')">
                Departure is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Arrival</mat-label>
              <input matInput name="arrivalTime" type="datetime-local" required formControlName="arrivalTime">
              <mat-error *ngIf="getForm().get('arrivalTime')?.hasError('required')">
                Arrival is required
              </mat-error>
            </mat-form-field>

          </div>
        </div>

        <div *ngIf="selectedItem === 'locations'">
          <div class="lista">
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput name="city" required formControlName="city">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <input matInput name="country" required formControlName="country">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Short Name</mat-label>
              <input matInput name="shortName" required formControlName="shortName">
            </mat-form-field>

          </div>
        </div>

        <mat-error *ngIf="addingFailed">
          {{ errorMessage}}
        </mat-error>

        <button mat-raised-button color="primary" type="submit">Add {{ getItemName() }}</button>

      </form>
    </div>
  </div>

</app-navigation>