<app-navigation>
    <div class="container">
        <h3>My Tickets ({{numberOfBookings}})</h3>
        <ng-container *ngIf="numberOfBookings === 0">
            <p>You have no tickets yet.</p>
        </ng-container>
        <ng-container *ngFor="let ticket of allTickets()">
            <app-ticket-panel [newTicketIds]="ticketIds" [ticket]="ticket" (cancelTicket)="cancelTicket($event)"></app-ticket-panel>
        </ng-container>
        <nav class="pagination">
            <button mat-raised-button (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>
            <span>Page {{currentPage + 1}}</span>
            <button mat-raised-button (click)="nextPage()" [disabled]="!hasMoreTickets">Next</button>
        </nav>

        <div>

        <mat-error *ngIf="cancelingFailed" color="primary">
            {{ errorMessage}}
        </mat-error></div>
    </div>
</app-navigation>