<div>
    <form id="editForm" name="editForm" [formGroup]="editForm">
      <mat-form-field appearance="fill">
        <mat-label>Photo</mat-label>
        <div class="fileUploadContainer" [ngStyle]="{'margin-top' : editForm.get('photo')!.value ? '5px' :  '20px'}">
          <ng-container *ngIf="editForm.get('photo')!.value">
            <img [src]="editForm.get('photo')!.value" />
            <button class="deleteButton" mat-icon-button (click)="fileInput.value = ''; editForm.get('photo')?.setValue(null);">
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
          <!-- no image -->
          <div *ngIf="!editForm.get('photo')!.value" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-icon style="opacity: 60%;">file_upload</mat-icon>
            <button mat-raised-button color="primary" style="width:100%; opacity: 80%;">Browser</button>
            <small>Drag and drop here</small>
          </div>
          <!-- put on top of the fileUploadContainer with opacity 0 -->
          <input #fileInput class="fileInput" type="file" multiple="multiple" accept="image/*"
            (change)="setFileData($event)" />
        </div>
        <input matInput formControlName="photo" readonly [hidden]="true " />
      </mat-form-field>
    </form>
  </div>