<app-navigation>
  <div class="container">
    <!-- Dropdown to choose the view -->
    <mat-form-field appearance="fill">
      <mat-label>Choose what to see</mat-label>
      <mat-select [(value)]="selectedItem" (selectionChange)="resetForms();">
        <mat-option value="coupons">Coupons</mat-option>
        <mat-option value="options">Options</mat-option>
        <mat-option value="packages">Packages</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Table to display selected data -->
  <div class="mat-elevation-z8" *ngIf="selectedItem">
    <table mat-table [dataSource]="getDataSource()" class="mat-table" matSort>

      <!-- Dynamic column definitions -->
      <ng-container *ngFor="let column of getDisplayedColumns()" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ getColumnLabel(column) }} </th>
        <td mat-cell *matCellDef="let element">
          <!-- Conditional rendering based on column name -->
          <ng-container [ngSwitch]="column">
            <!-- Display slide toggle for 'active' column -->
            <mat-slide-toggle *ngSwitchCase="'active'" [checked]="element[column]"
              (change)="toggleCouponStatus(element)">
            </mat-slide-toggle>
            <ng-container *ngSwitchCase="'options'">
              <ng-container *ngIf="optionsForPackage[element.id]">
                {{ getOptionsAsString(element.id) }}
              </ng-container>

              <span *ngIf="!optionsForPackage[element.id]">No options available</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ element[column] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>



      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <!-- Form to add a new coupon -->
  <div class="container" *ngIf="selectedItem">
    <div class="form-container add">
      <h3>Add {{ getItemName() }}</h3>
      <form (ngSubmit)="getAction()" [formGroup]="getForm()">
        <div *ngIf="selectedItem === 'coupons'">
          <div *ngFor="let coupon of couponFields">
            <mat-form-field appearance="fill">
              <mat-label>{{coupon.label}}</mat-label>
              <input matInput [type]="coupon.type" [name]="coupon.name" required [formControlName]="coupon.name">
              <mat-error *ngIf="getForm().get(coupon.name)?.hasError('required')">
                {{coupon.label}} is required
              </mat-error>
              <mat-error *ngIf="getForm().get(coupon.name)?.hasError('pattern')">
                {{coupon.label}} is not valid
              </mat-error>
              <mat-error *ngIf="getForm().get(coupon.name)?.hasError('min')">
                {{coupon.label}} must not be lower than 0
              </mat-error>
              <mat-error *ngIf="getForm().get(coupon.name)?.hasError('max')">
                {{coupon.label}} must not be higher than 100
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="selectedItem === 'options'">
          <div *ngFor="let option of optionFields">
            <mat-form-field appearance="fill">
              <mat-label>{{option.label}}</mat-label>
              <input matInput [type]="option.type" [name]="option.name" required [formControlName]="option.name">
              <mat-error *ngIf="getForm().get(option.name)?.hasError('required')">
                {{option.label}} is required
              </mat-error>
              <mat-error *ngIf="getForm().get(option.name)?.hasError('pattern')">
                {{option.label}} is not valid
              </mat-error>
              <mat-error *ngIf="getForm().get(option.name)?.hasError('min')">
                {{option.label}} must not be lower than 0
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="selectedItem === 'packages'">
          <div class="lista">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput name="name" required formControlName="name">
              <mat-error *ngIf="getForm().get('name')?.hasError('required')">
                Name is required
              </mat-error>
              <mat-error *ngIf="getForm().get('name')?.hasError('pattern')">
                Name is not valid
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Options</mat-label>
              <mat-select formControlName="options" required multiple="true">
                <mat-option *ngFor="let option of dataSourceOption.data" [value]="option"
                  (onSelectionChange)="toggleOptionSelection(option)">
                  {{ option.name }} ({{ option.price | currency }})
                </mat-option>
              </mat-select>
              <mat-error *ngIf="getForm().get('options')?.hasError('required')">
                Options are required
              </mat-error>
            </mat-form-field>

          </div>

        </div>
        <button mat-raised-button color="primary" type="submit">Add {{ getItemName() }}</button>
        <div *ngIf="addingFailed" class="failed" role="alert">
          {{errorMessage}}
        </div>
      </form>
    </div>
  </div>

</app-navigation>