<app-navigation>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Select View</mat-label>
        <mat-select [(value)]="selectedOption">
          <mat-option value="coupons">Coupons</mat-option>
          <mat-option value="options">Options</mat-option>
          <mat-option value="packages">Packages</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-table" matSort>

          <ng-container matColumnDef="couponCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Coupon Code </th>
            <td mat-cell *matCellDef="let coupon"> {{coupon.couponCode}} </td>
          </ng-container>
    

          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
            <td mat-cell *matCellDef="let coupon"> {{coupon.discount}}% </td>
          </ng-container>
    

          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let coupon">  
                <mat-slide-toggle [checked]="coupon.active" (click) = "toggleCouponStatus(coupon)"></mat-slide-toggle>
            </td>
          </ng-container>
    
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
    <div class="container" #container>
        <div class="form-container add">
            <h3>Add Coupon</h3>
            <form (ngSubmit)="addCoupon()" [formGroup]="newCouponForm" >
                <div>
                    <mat-form-field appearance="fill">
                    <mat-label>Coupon Code</mat-label>
                    <input matInput name="couponCode" required formControlName="couponCode">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                    <mat-label>Discount (%)</mat-label>
                    <input matInput type="number" name="discount" required min="0" max="100" formControlName="discount">
                    </mat-form-field>
                </div>
                <!-- <mat-slide-toggle [(ngModel)]="newCoupon.active" name="active">Active</mat-slide-toggle> -->
        
                <button mat-raised-button color="primary" type="submit">Add Coupon</button>
            </form>
        </div>
    </div>
</app-navigation>