<app-navigation>
    <div class="container">
      <!-- Dropdown to choose the view -->
      <mat-form-field appearance="fill">
        <mat-label>Choose what to see</mat-label>
        <mat-select [(value)]="selectedItem">
          <mat-option value="passengers">Passengers</mat-option>
          <mat-option value="tickets">Tickets</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- Table to display selected data -->
    <div class="mat-elevation-z8" *ngIf="selectedItem">
      <table mat-table [dataSource]="getDataSource()" class="mat-table" matSort>
    
        <!-- Dynamic column definitions -->
        <ng-container *ngFor="let column of getDisplayedColumns()" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ getColumnLabel(column) }} </th>
          <td mat-cell *matCellDef="let element">
            {{ getColumnValue(element, column) }}
          </td>
        </ng-container>
    
        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


    
      <ng-container *ngFor="let ticket of getTikets()">
        <app-ticket-panel [ticket]="ticket"></app-ticket-panel>
      </ng-container>
  </app-navigation>